@import "utilities/variables";

* {
    margin: 0;
    padding: 0;
    font-family: $fuente;
}

@import "layout/navegacion";
@import "layout/home";
@import "layout/aboutUs";
@import "layout/contacs";
@import "layout/music";
@import "layout/shop";
@import "layout/piepagina";
@import "layout/mediaqueries.scss";

