* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$colorBlanco:#f7f3f3;
$hoverBlanco:#dad8d8;
$fondoEvento:rgb(219, 214, 214);
$fondoNav:black;
$fondoBlog:darkgray;
$titulos:#cdcdcd;
$fondoBoton:rgb(199, 49, 49);
$fuente:Verdana, Geneva, Tahoma, sans-serif;